.jumbotron {
    background-color: rgb(253, 253, 253);
    padding-bottom: 15px;
    padding-top: 10px;
    top: 20%;
    left: 0;
    z-index: 999;
    width: 100%;
}

.container {
    display: flex;
    height: 500px;
}