.colorBlue {
    background-color: rgb(37, 28, 118);
    color: white;
}

.colorTextWhite {
    color: white;
    cursor: pointer;
}

.colorTextWhite:hover {
    color: white;
}

.iconLogin {
    padding-left: 10px;
    margin-left: 2px;
    cursor: pointer;
}