.loginBody {
    width: 30%;
    background-color: white;
    border-radius: 0.3em;
    padding: 2%;
}

button {
    background-color: rgb(13, 5, 106);
    color: white;
    border-radius: .2em;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.colorRed {
    background-color: rgb(230, 124, 124);
    color: black;
}

.colorRedText {
    color: rgb(234, 48, 48);
}